*~
*.pyc
dist
build
MANIFEST
iotlabmonkey.egg-info
.tox

# SSH public/private key
ssh

*.egg
*.swp
.coverage
coverage.xml
cover/
htmlcov/

.eggs/
.python-version
test_auth_file
*log

*png

*.tar.gz

# pytest cache directory
.cache/
.pytest_cache/
test-report.xml

# IDE
.idea/
.vscode/
